<div class="search-body">
    <div class="main">
        <div class="title">
        <h2>About</h2>
        </div>

    <p>Thejukeb0x was born from the collaboration between two webdev students, Luciana e Rúben. The idea comes from a music player, the colleagues started with the ambition to break the routines of parties where there is always fights in the choice of music.</p>
    <p>Create your playlist on jukebox connected to your Spotify Premium account and share it with your guests! Everyone can add new songs to the queue but nobody can edit or pause the playlist before its over. Enjoy it!
    </p>
    </div>

    <div class="jukebox">
    </div>

</div>