<div class="search-body">
  <div class="main">
    <div class="title">
        <h1>{{title}}</h1>
    </div>

    <p>Welcome to our Party!</p>
    <a href="/auth/login">Login</a> or
    <a href="/auth/signup">Signup</a>
  </div>

  <div class="jukebox">
  </div>
</div>