<div class="search-body">

    <div class="main">
    <div class="title">
        <h2>{{username}}</h2>
    </div>
    <div class="profile">
        <a href='/myplaylists'>My Playlists</a>
        <a href="/search-playlist">Search Playlist</a>
        <a href="/create/login">Create a playlist</a>
    </div>
    </div>

    <div class="jukebox">
    </div>

</div>



