<div class="search-body">

    <div class="main">

    <div class="title">
        <h3>Welcome, {{myProfile.display_name}}</h3> 
    </div>

    <img class="profile-img" src="{{myProfile.images.0.url}}" alt="profile picture">

    <div class="add-song">
    <h3>Create a playlist</h3>

    <form class="form" action="/create-playlist" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name">

        <label for="description">Description:</label>
        <textarea name="description" cols="30" rows="10"></textarea>

        <button type="submit">Send</button>
    </form>
    </div>

    <div class="jukebox">
    </div>

    
</div>